* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #232322;
}

a {
	color: darkblue;
}

a:visited {
	color: darkblue;
}

a:hover, a:active {
	color: darkblue;
}

.Bordered {
	border: 2px solid black;
}

.FontSize4REM {
	font-size: 4rem;
}

.FontSize3REM {
	font-size: 3rem;
}

.FontSize2REM {
	font-size: 2rem;
}

.HorizontalPadding5Percent {
	padding-left: 5%;
	padding-right: 5%;
}

.HorizontalPadding10Percent {
	padding-left: 10%;
	padding-right: 10%;
}

.Width100Percent {
	width: 100%;
}

.Width33Percent {
	width: 33%;
}

.LeftAndRightMarginAuto {
	margin-left: auto;
	margin-right: auto;
}
