* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #333;
	color: whitesmoke;
}

a {
	color: aliceblue;
}

a:visited {
	color: lightgray;
}

a:hover, a:active {
	color: #bbb;
}

.Bordered {
	border: 2px solid white;
}

.FontSize4REM {
	font-size: 4rem;
}

.FontSize3REM {
	font-size: 3rem;
}

.HorizontalPadding5Percent {
	padding-left: 5%;
	padding-right: 5%;
}

.HorizontalPadding10Percent {
	padding-left: 10%;
	padding-right: 10%;
}

.Width100Percent {
	width: 100%;
}

.Width33Percent {
	width: 33%;
}
